@page
@model Web.Areas.Currency.Pages.IndicatorModel
@{
}
<h2>
    Indicador
</h2>

<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>

            <th scope="col">
                Divisa
            </th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>