<h1 class="display-1 fw-bold text-capitalize text-center text-decoration-underline">
    Buscar divisa
</h1>

<hr />

@await Html.PartialAsync(
    partialViewName: "~/Views/Shared/Partial/Currency/Form/_Search.cshtml"
)